body {
  background-color: rgba(211, 211, 211, 0.158);
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #3c7592;
  color: #ffffff;
  overflow: auto;
}

header nav {
  padding-top: 15px; 
  body {
    font-family: 'Merriweather', serif;
    background-color: black;
    color: rgb(149, 149, 149);
  }

  header {
    text-align: center;
    color: rgb(149, 149, 149);
    text-shadow: 2px 2px 3px rgb(149, 149, 149);
    font-weight: 900;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    align-items: flex-end;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  a {
    color: rgb(149, 149, 149);
    padding-left: 3px;
  }

  a:hover {
    color: rgb(149, 149, 149);
    text-shadow: 5px 5px 10px 5px rgb(149, 149, 149);
  }
  #blogPosts {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  #blogPost {
    margin-top: 5vh;
  }

  #blogPostDash {
    margin-top: 2vh;
    padding: 5px;
    flex-wrap: nowrap;
    border: solid rgb(149, 149, 149);
    text-align: center;
  }

  #homeTitle {
    height: 20px;
  }

  #homeHeader {
    font-size: 36px;
    text-shadow: 1px 1px 3px rgb(149, 149, 149);
    font-weight: 900;
    border: 2px solid black;
    box-shadow: 2px 2px black;
  }
  .card {
    background-color: black;
  }

  .break {
    height: 5vh;
  }

  #newPostDiv {
    background-color: black;
  }

  .container #blogPosts {
    height: 10vh;
  }

  .container #loginBox {
    position: relative;
    top: 20;
    left: 0vw;
  }

  #commentContainer {
    display: none;
    position: relative;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .login-card {
    border: 2px solid rgb(149, 149, 149);
    margin: 0 10px;
    align-self: baseline;
    height: 50vh;
    position: relative;
    left: 50;
    top: 50;
    width: 20vw;
  }

  .login-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: rgb(149, 149, 149) solid;
  }

  .form-input {
    background-color: rgb(149, 149, 149);
    color: black;
    font-weight: 900;
    padding: 5px;
  }

  .form-input-update {
    width: 50vw;
    margin: 20px;
    height: 5vh;
  }

  .form-input-update-body {
    width: 50vw;
    margin: 20px;
    height: 15vh;
  }

  .form-input-comment-body {
    width: 50vw;
    margin: 20px;
    height: 15vh;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
  }

  .form-group-update {
    width: 50vw;
  }

  #updateBtn {
    align-self: center;
    width: 50vw;
    background-color: black;
    border-color: rgb(149, 149, 149);
    color: rgb(149, 149, 149);
    font-weight: 900;
    flex-grow: 1;
    margin: 20px;
  }

  #deleteBtn {
    align-self: center;
    width: 50vw;
    background-color: black;
    border-color: rgb(149, 149, 149);
    color: rgb(149, 149, 149);
    font-weight: 900;
    flex-grow: 1;
    margin: 20px;
  }

  #createBtn {
    align-self: center;
    width: 50vw;
    background-color: black;
    border-color: rgb(149, 149, 149);
    color: rgb(149, 149, 149);
    font-weight: 900;
    flex-grow: 1;
    margin: 20px;
  }

  .commentLink {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
  }

  .form-group .btn-primary {
    background-color: black;
    border-color: rgb(149, 149, 149);
    color: rgb(149, 149, 149);
    font-weight: 900;
    flex-grow: 1;
    margin: 20px;
  }

 


header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-left: 25px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
}

.blog-page {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: lightgrey;
  color: darkslategrey;
  overflow: auto;
}
.blog-page a {
  color: darkslategrey;
  text-decoration: none;
}

.post {
  list-style-type: none;
}

.login-page {
  text-align: center;
  background-color: #3c7592a6;
  width: 400px;
  margin: auto;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: #ffffff;
  margin-top: 30px;
}
.login-page a {
  color: #ffffff;
  text-decoration: none;
}
.login-page a:hover {
  color: lightgray;
  text-decoration: none;
}

.login-input {
  min-height: 40px;
  min-width: 300px;
  background: white;
  box-shadow: none;
  border: transparent;
  margin: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

.login-button {
  min-height: 40px;
  min-width: 300px;
  background: slategray;
  box-shadow: none;
  border: transparent;
  margin: 5px;
  padding-left: 5px;
  color: #ffffff;
}

.login-button:hover {
  background: #dbdada;
  color: slategray;
}

.input-box {
  min-height: 200px;
  min-width: 300px;
  background: white;
  box-shadow: none;
  border: transparent;
  margin: 5px;
  padding-left: 5px;
  border-radius: 3px;
}
